Team5 project / Preprocessing

In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
#import data
df= pd.read_csv('data/KoreaIncomeData.csv') 
df.head() # 40441 rows and 199 columns
#'Gu' is represent as 3-digits number codes

FileNotFoundError: [Errno 2] No such file or directory: 'data/KoreaIncomeData.csv'

In [116]:
#We only use 'Gu' and 'Income' data.
df=df.copy()[['GU','ADQ3E']]

#Change the column names
df.columns = ['Gu','Income']

#Drop null data and we have 27443 rows and 2 columns
nullIndex=df[(df['Income']=='#NULL!')].index
df.drop(nullIndex,inplace=True)
df

        Gu Income
0      110      9
1      110      6
2      110     16
3      110     12
5      110      7
...    ...    ...
40435  500     21
40436  680      6
40437  545      6
40438  590      5
40440  620     16

[27443 rows x 2 columns]

In [117]:
#change type to float
df=df.astype('float')

In [118]:
#using grouby method and get mean of income and sum up with total 25 'Gu'
df=df.groupby('Gu').mean().reset_index()
df

       Gu    Income
0   110.0  8.092664
1   140.0  7.359223
2   170.0  8.214203
3   200.0  8.231841
4   215.0  7.091238
5   230.0  7.376686
6   260.0  6.981943
7   290.0  7.101276
8   305.0  7.071233
9   320.0  6.829268
10  350.0  7.007524
11  380.0  6.911238
12  410.0  7.296404
13  440.0  7.635865
14  470.0  7.808050
15  500.0  7.054054
16  530.0  7.261722
17  545.0  6.289532
18  560.0  7.784946
19  590.0  7.495265
20  620.0  6.372960
21  650.0  8.688123
22  680.0  9.710548
23  710.0  8.212038
24  740.0  7.254443

In [119]:
#About Gu information
#change 3-digit code to real name
df['Gu']=df.Gu.replace({110:"Jongno-gu",140:"Jung-gu",170:"Yongsan-gu",200:"Seongdong-gu",215:"Gwangjin-gu",230:"Dongdaemun-gu",260:"Jungnang-gu",290:"Seongbuk-gu",305:"Gangbuk-gu",320:"Dobong-gu",350:"Nowon-gu",380:"Eunpyeong-gu",410:"Seodaemun-gu",440:"Mapo-gu",470:"Yangcheon-gu",500:"Gangseo-gu",530:"Guro-gu",545:"Geumcheon-gu",560:"Yeongdeungpo-gu",590:"Dongjak-gu",620:"Gwanak-gu",650:"Seocho-gu",680:"Gangnam-gu",710:"Songpa-gu",740:"Gangdong-gu"})
Korea_income=df.copy()
Korea_income.head()

             Gu    Income
0     Jongno-gu  8.092664
1       Jung-gu  7.359223
2    Yongsan-gu  8.214203
3  Seongdong-gu  8.231841
4   Gwangjin-gu  7.091238

In [120]:
#About Income information
#df['Income']=df.Income.replace({'1':"Under 100",'2':"Under 100",'3':"100~200",'4':"100~200",'5':"200~300",'6':"200~300",'7':"300~400",'8':"300~400",'9':"400~500",'10':"400~500",'11':"500~600",'12':"500~600",'13':"600~700",'14':"600~700",'15':"700~800",'16':"700~800",'17':"800~900",'18':"800~900",'19':"900~1000",'20':'900~1000','21':"Over 1000"})

In [122]:
#Korea_income.Income.value_counts()

In [123]:
# Preprocessing foreign dataset
df2= pd.read_csv('data/KoreaForeignRawData.csv')
df2.head()

,자치구별(1),자치구별(2),2021,2021 .1,2021 .2,2021 .3,2021 .4,2021 .5,2021 .6,2021 .7,...,2021 .50,2021 .51,2021 .52,2021 .53,2021 .54,2021 .55,2021 .56,2021 .57,2021 .58,2021 .59
0,자치구별(1),자치구별(2),합계,합계,합계,합계,합계,합계,합계,합계,...,합계,합계,합계,합계,합계,합계,합계,합계,합계,합계
1,자치구별(1),자치구별(2),소계,한국계 중국인,중국(한국계 중국인 제외),미국,타이완,일본,베트남,몽골,...,오스트리아,수 단,아르헨티나,오 만,이 스 라 엘,페 루,덴 마 크,모 로 코,이 라 크,기 타
2,자치구별(1),자치구별(2),계,계,계,계,계,계,계,계,...,계,계,계,계,계,계,계,계,계,계
3,합계,종로구,9106,992,2637,630,220,318,2111,71,...,23,1,-,5,41,5,4,7,-,239
4,NaN,중구,9288,1294,2227,280,534,285,1424,265,...,11,-,1,1,8,29,23,11,1,299

In [124]:
#drop unneeded index
df2= df2.drop(df2.index[[0,1,2]])
df2.head()

,자치구별(1),자치구별(2),2021,2021 .1,2021 .2,2021 .3,2021 .4,2021 .5,2021 .6,2021 .7,...,2021 .50,2021 .51,2021 .52,2021 .53,2021 .54,2021 .55,2021 .56,2021 .57,2021 .58,2021 .59
3,합계,종로구,9106,992,2637,630,220,318,2111,71,...,23,1,-,5,41,5,4,7,-,239
4,NaN,중구,9288,1294,2227,280,534,285,1424,265,...,11,-,1,1,8,29,23,11,1,299
5,NaN,용산구,14332,776,538,2554,314,1116,271,159,...,9,81,24,-,24,52,48,103,77,1526
6,NaN,성동구,6682,1472,2151,225,137,243,945,205,...,1,1,-,-,1,2,6,8,2,88
7,NaN,광진구,12631,4049,3504,175,127,378,1585,856,...,5,1,4,1,-,1,5,7,-,113

In [125]:
df2= df2.drop(df2.columns[[0,1]],axis=1)
df2.head()

,2021,2021 .1,2021 .2,2021 .3,2021 .4,2021 .5,2021 .6,2021 .7,2021 .8,2021 .9,...,2021 .50,2021 .51,2021 .52,2021 .53,2021 .54,2021 .55,2021 .56,2021 .57,2021 .58,2021 .59
3,9106,992,2637,630,220,318,2111,71,56,34,...,23,1,-,5,41,5,4,7,-,239
4,9288,1294,2227,280,534,285,1424,265,95,96,...,11,-,1,1,8,29,23,11,1,299
5,14332,776,538,2554,314,1116,271,159,585,214,...,9,81,24,-,24,52,48,103,77,1526
6,6682,1472,2151,225,137,243,945,205,158,38,...,1,1,-,-,1,2,6,8,2,88
7,12631,4049,3504,175,127,378,1585,856,89,45,...,5,1,4,1,-,1,5,7,-,113

In [126]:
#df2.insert(1,'Gu',['Jongno-gu',"Jung-gu","Yongsan-gu","Seongdong-gu","Gwangjin-gu","Dongdaemun-gu","Jungnang-gu","Seongbuk-gu","Gangbuk-gu","Dobong-gu","Nowon-gu","Eunpyeong-gu","Seodaemun-gu","Mapo-gu","Yangcheon-gu","Gangseo-gu","Guro-gu","Geumcheon-gu","Yeongdeungpo-gu","Dongjak-gu","Gwanak-gu","Seocho-gu","Gangnam-gu","Songpa-gu","Gangdong-gu"],True)
#df2.head()

In [127]:
#df2=df2.drop(df2.columns[[0]],axis=1)
#df2.head()

In [128]:
#replace '-' to 0. To avoid error occur
df2=df2.replace('-',0)
df2.head()

,2021,2021 .1,2021 .2,2021 .3,2021 .4,2021 .5,2021 .6,2021 .7,2021 .8,2021 .9,...,2021 .50,2021 .51,2021 .52,2021 .53,2021 .54,2021 .55,2021 .56,2021 .57,2021 .58,2021 .59
3,9106,992,2637,630,220,318,2111,71,56,34,...,23,1,0,5,41,5,4,7,0,239
4,9288,1294,2227,280,534,285,1424,265,95,96,...,11,0,1,1,8,29,23,11,1,299
5,14332,776,538,2554,314,1116,271,159,585,214,...,9,81,24,0,24,52,48,103,77,1526
6,6682,1472,2151,225,137,243,945,205,158,38,...,1,1,0,0,1,2,6,8,2,88
7,12631,4049,3504,175,127,378,1585,856,89,45,...,5,1,4,1,0,1,5,7,0,113

In [129]:
#rearrange index
df2.reset_index(drop=True,inplace=True)
df2.head()

,2021,2021 .1,2021 .2,2021 .3,2021 .4,2021 .5,2021 .6,2021 .7,2021 .8,2021 .9,...,2021 .50,2021 .51,2021 .52,2021 .53,2021 .54,2021 .55,2021 .56,2021 .57,2021 .58,2021 .59
0,9106,992,2637,630,220,318,2111,71,56,34,...,23,1,0,5,41,5,4,7,0,239
1,9288,1294,2227,280,534,285,1424,265,95,96,...,11,0,1,1,8,29,23,11,1,299
2,14332,776,538,2554,314,1116,271,159,585,214,...,9,81,24,0,24,52,48,103,77,1526
3,6682,1472,2151,225,137,243,945,205,158,38,...,1,1,0,0,1,2,6,8,2,88
4,12631,4049,3504,175,127,378,1585,856,89,45,...,5,1,4,1,0,1,5,7,0,113

In [130]:
#df2.['Gu']=['Jongno-gu',"Jung-gu","Yongsan-gu","Seongdong-gu","Gwangjin-gu","Dongdaemun-gu","Jungnang-gu","Seongbuk-gu","Gangbuk-gu","Dobong-gu","Nowon-gu","Eunpyeong-gu","Seodaemun-gu","Mapo-gu","Yangcheon-gu","Gangseo-gu","Guro-gu","Geumcheon-gu","Yeongdeungpo-gu","Dongjak-gu","Gwanak-gu","Seocho-gu","Gangnam-gu","Songpa-gu","Gangdong-gu"]
#df2.index=['Jongno-gu',"Jung-gu","Yongsan-gu","Seongdong-gu","Gwangjin-gu","Dongdaemun-gu","Jungnang-gu","Seongbuk-gu","Gangbuk-gu","Dobong-gu","Nowon-gu","Eunpyeong-gu","Seodaemun-gu","Mapo-gu","Yangcheon-gu","Gangseo-gu","Guro-gu","Geumcheon-gu","Yeongdeungpo-gu","Dongjak-gu","Gwanak-gu","Seocho-gu","Gangnam-gu","Songpa-gu","Gangdong-gu"]
#df2

In [131]:
#change type to float
df2=df2.astype('float')
df2.head()

,2021,2021 .1,2021 .2,2021 .3,2021 .4,2021 .5,2021 .6,2021 .7,2021 .8,2021 .9,...,2021 .50,2021 .51,2021 .52,2021 .53,2021 .54,2021 .55,2021 .56,2021 .57,2021 .58,2021 .59
0,9106.0,992.0,2637.0,630.0,220.0,318.0,2111.0,71.0,56.0,34.0,...,23.0,1.0,0.0,5.0,41.0,5.0,4.0,7.0,0.0,239.0
1,9288.0,1294.0,2227.0,280.0,534.0,285.0,1424.0,265.0,95.0,96.0,...,11.0,0.0,1.0,1.0,8.0,29.0,23.0,11.0,1.0,299.0
2,14332.0,776.0,538.0,2554.0,314.0,1116.0,271.0,159.0,585.0,214.0,...,9.0,81.0,24.0,0.0,24.0,52.0,48.0,103.0,77.0,1526.0
3,6682.0,1472.0,2151.0,225.0,137.0,243.0,945.0,205.0,158.0,38.0,...,1.0,1.0,0.0,0.0,1.0,2.0,6.0,8.0,2.0,88.0
4,12631.0,4049.0,3504.0,175.0,127.0,378.0,1585.0,856.0,89.0,45.0,...,5.0,1.0,4.0,1.0,0.0,1.0,5.0,7.0,0.0,113.0

In [132]:
#make new colums
df2['Total'] = df2.iloc[:,0]
df2['Chinese'] = df2.iloc[:,2]
df2['Japanese'] = df2.iloc[:,5]
df2.head()

,2021,2021 .1,2021 .2,2021 .3,2021 .4,2021 .5,2021 .6,2021 .7,2021 .8,2021 .9,...,2021 .53,2021 .54,2021 .55,2021 .56,2021 .57,2021 .58,2021 .59,Total,Chinese,Japanese
0,9106.0,992.0,2637.0,630.0,220.0,318.0,2111.0,71.0,56.0,34.0,...,5.0,41.0,5.0,4.0,7.0,0.0,239.0,9106.0,2637.0,318.0
1,9288.0,1294.0,2227.0,280.0,534.0,285.0,1424.0,265.0,95.0,96.0,...,1.0,8.0,29.0,23.0,11.0,1.0,299.0,9288.0,2227.0,285.0
2,14332.0,776.0,538.0,2554.0,314.0,1116.0,271.0,159.0,585.0,214.0,...,0.0,24.0,52.0,48.0,103.0,77.0,1526.0,14332.0,538.0,1116.0
3,6682.0,1472.0,2151.0,225.0,137.0,243.0,945.0,205.0,158.0,38.0,...,0.0,1.0,2.0,6.0,8.0,2.0,88.0,6682.0,2151.0,243.0
4,12631.0,4049.0,3504.0,175.0,127.0,378.0,1585.0,856.0,89.0,45.0,...,1.0,0.0,1.0,5.0,7.0,0.0,113.0,12631.0,3504.0,378.0

In [133]:
#because our type of cuisine is divided by 4(asian, western, chinese, japanese) so sum all country's which is located in asian. 
df2['Asian']= df2.iloc[:,4]+df2.iloc[:,6]+df2.iloc[:,7]+df2.iloc[:,8]+df2.iloc[:,10]+df2.iloc[:,11]+df2.iloc[:,14]+df2.iloc[:,18]+df2.iloc[:,19]+df2.iloc[:,20]+df2.iloc[:,22]+df2.iloc[:,23]+df2.iloc[:,24]+df2.iloc[:,26]+df2.iloc[:,28]+df2.iloc[:,29]+df2.iloc[:,31]
+df2.iloc[:,32]+df2.iloc[:,40]

#Sum all westerners of our own accord
df2['Westerner']=df2.iloc[:,3]+df2.iloc[:,9]+df2.iloc[:,12]+df2.iloc[:,13]+df2.iloc[:,15]+df2.iloc[:,16]+df2.iloc[:,35]+df2.iloc[:,36]+df2.iloc[:,37]+df2.iloc[:,39]+df2.iloc[:,41]+df2.iloc[:,42]+df2.iloc[:,43]+df2.iloc[:,44]+df2.iloc[:,45]
+df2.iloc[:,47]+df2.iloc[:,48]+df2.iloc[:,50]+df2.iloc[:,56]


df2.head()

,2021,2021 .1,2021 .2,2021 .3,2021 .4,2021 .5,2021 .6,2021 .7,2021 .8,2021 .9,...,2021 .55,2021 .56,2021 .57,2021 .58,2021 .59,Total,Chinese,Japanese,Asian,Westerner
0,9106.0,992.0,2637.0,630.0,220.0,318.0,2111.0,71.0,56.0,34.0,...,5.0,4.0,7.0,0.0,239.0,9106.0,2637.0,318.0,3413.0,1102.0
1,9288.0,1294.0,2227.0,280.0,534.0,285.0,1424.0,265.0,95.0,96.0,...,29.0,23.0,11.0,1.0,299.0,9288.0,2227.0,285.0,3339.0,1529.0
2,14332.0,776.0,538.0,2554.0,314.0,1116.0,271.0,159.0,585.0,214.0,...,52.0,48.0,103.0,77.0,1526.0,14332.0,538.0,1116.0,3699.0,4429.0
3,6682.0,1472.0,2151.0,225.0,137.0,243.0,945.0,205.0,158.0,38.0,...,2.0,6.0,8.0,2.0,88.0,6682.0,2151.0,243.0,2040.0,531.0
4,12631.0,4049.0,3504.0,175.0,127.0,378.0,1585.0,856.0,89.0,45.0,...,1.0,5.0,7.0,0.0,113.0,12631.0,3504.0,378.0,3898.0,521.0

In [134]:
#make new dataframe only we need
df2_1=df2.copy()[['Total','Chinese','Japanese','Asian','Westerner']]
df2_1.head()

     Total  Chinese  Japanese   Asian  Westerner
0   9106.0   2637.0     318.0  3413.0     1102.0
1   9288.0   2227.0     285.0  3339.0     1529.0
2  14332.0    538.0    1116.0  3699.0     4429.0
3   6682.0   2151.0     243.0  2040.0      531.0
4  12631.0   3504.0     378.0  3898.0      521.0

In [135]:
#in our model we will use percentage of each type
df2_1['Percentage of Chinese']= df2_1['Chinese'] / df2_1['Total'] 
df2_1['Percentage of Japanese'] = df2_1['Japanese'] / df2_1['Total'] 
df2_1['Percentage of Asian']= df2_1['Asian'] / df2_1['Total'] 
df2_1['Percentage of Westerner']= df2_1['Westerner'] / df2_1['Total'] 

df2_1

,Total,Chinese,Japanese,Asian,Westerner,Percentage of Chinese,Percentage of Japanese,Percentage of Asian,Percentage of Westerner
0,9106.0,2637.0,318.0,3413.0,1102.0,0.289589,0.034922,0.374808,0.121019
1,9288.0,2227.0,285.0,3339.0,1529.0,0.239772,0.030685,0.359496,0.164621
2,14332.0,538.0,1116.0,3699.0,4429.0,0.037538,0.077868,0.258094,0.309029
3,6682.0,2151.0,243.0,2040.0,531.0,0.321910,0.036366,0.305298,0.079467
4,12631.0,3504.0,378.0,3898.0,521.0,0.277413,0.029926,0.308606,0.041248
5,14606.0,5703.0,544.0,5013.0,828.0,0.390456,0.037245,0.343215,0.056689
6,4535.0,596.0,138.0,2318.0,173.0,0.131422,0.030430,0.511136,0.038148
7,9614.0,3123.0,350.0,3833.0,851.0,0.324839,0.036405,0.398689,0.088517
8,3381.0,603.0,119.0,1532.0,194.0,0.178350,0.035197,0.453120,0.057379
9,2007.0,304.0,106.0,951.0,182.0,0.151470,0.052815,0.473842,0.090683
10,3990.0,757.0,201.0,2006.0,401.0,0.189724,0.050376,0.502757,0.100501
11,3866.0,703.0,360.0,1429.0,354.0,0.181842,0.093120,0.369633,0.091568
12,10840.0,3082.0,501.0,4375.0,1630.0,0.284317,0.046218,0.403598,0.150369
13,9781.0,2398.0,956.0,2582.0,2298.0,0.245169,0.097741,0.263981,0.234945
14,3185.0,547.0,131.0,802.0,279.0,0.171743,0.041130,0.251805,0.087598
15,5453.0,936.0,352.0,1463.0,494.0,0.171649,0.064552,0.268293,0.090592
16,24409.0,5180.0,206.0,1284.0,257.0,0.212217,0.008440,0.052604,0.010529
17,14080.0,2435.0,108.0,1003.0,148.0,0.172940,0.007670,0.071236,0.010511
18,24071.0,4406.0,208.0,1395.0,518.0,0.183042,0.008641,0.057954,0.021520
19,8881.0,2703.0,272.0,1589.0,492.0,0.304358,0.030627,0.178921,0.055399
20,13750.0,2468.0,346.0,2790.0,965.0,0.179491,0.025164,0.202909,0.070182
21,3888.0,474.0,301.0,686.0,1546.0,0.121914,0.077418,0.176440,0.397634
22,4758.0,772.0,471.0,1055.0,1500.0,0.162253,0.098991,0.221732,0.315259
23,5627.0,927.0,313.0,1010.0,891.0,0.164741,0.055625,0.179492,0.158344
24,3808.0,609.0,192.0,1031.0,340.0,0.159926,0.050420,0.270746,0.089286

In [136]:
#only left dataframe we need
Korea_foreign= df2_1[['Percentage of Chinese','Percentage of Japanese','Percentage of Asian','Percentage of Westerner']]

Korea_foreign

,Percentage of Chinese,Percentage of Japanese,Percentage of Asian,Percentage of Westerner
0,0.289589,0.034922,0.374808,0.121019
1,0.239772,0.030685,0.359496,0.164621
2,0.037538,0.077868,0.258094,0.309029
3,0.321910,0.036366,0.305298,0.079467
4,0.277413,0.029926,0.308606,0.041248
5,0.390456,0.037245,0.343215,0.056689
6,0.131422,0.030430,0.511136,0.038148
7,0.324839,0.036405,0.398689,0.088517
8,0.178350,0.035197,0.453120,0.057379
9,0.151470,0.052815,0.473842,0.090683
10,0.189724,0.050376,0.502757,0.100501
11,0.181842,0.093120,0.369633,0.091568
12,0.284317,0.046218,0.403598,0.150369
13,0.245169,0.097741,0.263981,0.234945
14,0.171743,0.041130,0.251805,0.087598
15,0.171649,0.064552,0.268293,0.090592
16,0.212217,0.008440,0.052604,0.010529
17,0.172940,0.007670,0.071236,0.010511
18,0.183042,0.008641,0.057954,0.021520
19,0.304358,0.030627,0.178921,0.055399
20,0.179491,0.025164,0.202909,0.070182
21,0.121914,0.077418,0.176440,0.397634
22,0.162253,0.098991,0.221732,0.315259
23,0.164741,0.055625,0.179492,0.158344
24,0.159926,0.050420,0.270746,0.089286

In [137]:
#put "Gu" information
Korea_foreign.insert(0,'Gu',['Jongno-gu',"Jung-gu","Yongsan-gu","Seongdong-gu","Gwangjin-gu","Dongdaemun-gu","Jungnang-gu","Seongbuk-gu","Gangbuk-gu","Dobong-gu","Nowon-gu","Eunpyeong-gu","Seodaemun-gu","Mapo-gu","Yangcheon-gu","Gangseo-gu","Guro-gu","Geumcheon-gu","Yeongdeungpo-gu","Dongjak-gu","Gwanak-gu","Seocho-gu","Gangnam-gu","Songpa-gu","Gangdong-gu"],True)
Korea_foreign.head()

,Gu,Percentage of Chinese,Percentage of Japanese,Percentage of Asian,Percentage of Westerner
0,Jongno-gu,0.289589,0.034922,0.374808,0.121019
1,Jung-gu,0.239772,0.030685,0.359496,0.164621
2,Yongsan-gu,0.037538,0.077868,0.258094,0.309029
3,Seongdong-gu,0.321910,0.036366,0.305298,0.079467
4,Gwangjin-gu,0.277413,0.029926,0.308606,0.041248

In [138]:
Korea_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gu      25 non-null     object
 1   Income  25 non-null     float64
dtypes: float64(1), object(1)
memory usage: 528.0+ bytes

In [139]:
#combine all information of income and population

#pd.concat([Korea_income,Korea_foreign],join='outer')
mergeDF=pd.merge(Korea_income,Korea_foreign,on='Gu',how='inner')
mergeDF

,Gu,Income,Percentage of Chinese,Percentage of Japanese,Percentage of Asian,Percentage of Westerner
0,Jongno-gu,8.092664,0.289589,0.034922,0.374808,0.121019
1,Jung-gu,7.359223,0.239772,0.030685,0.359496,0.164621
2,Yongsan-gu,8.214203,0.037538,0.077868,0.258094,0.309029
3,Seongdong-gu,8.231841,0.321910,0.036366,0.305298,0.079467
4,Gwangjin-gu,7.091238,0.277413,0.029926,0.308606,0.041248
5,Dongdaemun-gu,7.376686,0.390456,0.037245,0.343215,0.056689
6,Jungnang-gu,6.981943,0.131422,0.030430,0.511136,0.038148
7,Seongbuk-gu,7.101276,0.324839,0.036405,0.398689,0.088517
8,Gangbuk-gu,7.071233,0.178350,0.035197,0.453120,0.057379
9,Dobong-gu,6.829268,0.151470,0.052815,0.473842,0.090683
10,Nowon-gu,7.007524,0.189724,0.050376,0.502757,0.100501
11,Eunpyeong-gu,6.911238,0.181842,0.093120,0.369633,0.091568
12,Seodaemun-gu,7.296404,0.284317,0.046218,0.403598,0.150369
13,Mapo-gu,7.635865,0.245169,0.097741,0.263981,0.234945
14,Yangcheon-gu,7.808050,0.171743,0.041130,0.251805,0.087598
15,Gangseo-gu,7.054054,0.171649,0.064552,0.268293,0.090592
16,Guro-gu,7.261722,0.212217,0.008440,0.052604,0.010529
17,Geumcheon-gu,6.289532,0.172940,0.007670,0.071236,0.010511
18,Yeongdeungpo-gu,7.784946,0.183042,0.008641,0.057954,0.021520
19,Dongjak-gu,7.495265,0.304358,0.030627,0.178921,0.055399
20,Gwanak-gu,6.372960,0.179491,0.025164,0.202909,0.070182
21,Seocho-gu,8.688123,0.121914,0.077418,0.176440,0.397634
22,Gangnam-gu,9.710548,0.162253,0.098991,0.221732,0.315259
23,Songpa-gu,8.212038,0.164741,0.055625,0.179492,0.158344
24,Gangdong-gu,7.254443,0.159926,0.050420,0.270746,0.089286

In [140]:
df3 = pd.read_csv('data/Seoul_restaurant.csv', sep=',', encoding='cp949')
#investigate how data looks
df3.head()

C:\Users\oom67\AppData\Local\Temp\ipykernel_9184\1331501590.py:1: DtypeWarning: Columns (8,11,13,21,22,24,26,27,28,31,36,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('data/Seoul_restaurant.csv', sep=',', encoding='cp949')

,소재지우편번호,지번주소,도로명주소,도로명우편번호,사업장명,업태구분명,좌표정보(X),좌표정보(Y),위생업태명,Unnamed: 9,...,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,110846.0,서울특별시 종로구 평창동 110-1번지,서울특별시 종로구 평창길 352 (평창동),3004.0,북악파크부페,뷔페식,197993.2057,456584.6271,뷔페식,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,110290.0,서울특별시 종로구 인사동 98번지,서울특별시 종로구 종로11길 10 12층 (인사동),3164.0,시민식당 2호점,한식,198681.5719,452050.2743,한식,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,110126.0,서울특별시 종로구 종로6가 129-1번지,서울특별시 종로구 종로41길 10 (종로6가),3124.0,일번우동,분식,200533.4536,452156.9003,분식,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,110043.0,서울특별시 종로구 통인동 27-2,서울특별시 종로구 필운대로6길 17-1 (통인동),3036.0,서촌소국밥,한식,197250.3854,453135.4513,한식,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,110843.0,서울특별시 종로구 창신동 696-1,서울특별시 종로구 종로 289 (창신동),3101.0,빽다방 동대문역점,기타,200811.9254,452162.5695,기타,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
#get rid of useless columns 

#left only dataset we need
df3=df3.copy()[['도로명주소','업태구분명','좌표정보(X)','좌표정보(Y)']]

#Change the column names
df3.columns = ['Address','Type of Cuisine','TMCoordinate(X)','TMCoordinate(Y)']

#get rid of null dataset
df3 = df3.dropna(axis=0)
df3

,Address,Type of Cuisine,TMCoordinate(X),TMCoordinate(Y)
0,서울특별시 종로구 평창길 352 (평창동),뷔페식,197993.2057,456584.6271
1,서울특별시 종로구 종로11길 10 12층 (인사동),한식,198681.5719,452050.2743
2,서울특별시 종로구 종로41길 10 (종로6가),분식,200533.4536,452156.9003
3,서울특별시 종로구 필운대로6길 17-1 (통인동),한식,197250.3854,453135.4513
4,서울특별시 종로구 종로 289 (창신동),기타,200811.9254,452162.5695
...,...,...,...,...
482342,서울특별시 용산구 한강대로 130-3 1층 (한강로2가),기타,197277.8630,447641.4505
482343,서울특별시 양천구 곰달래로5길 85 (신월동),기타,184835.9729,448165.3497
482344,서울특별시 종로구 명륜길 31 (명륜3가),중국식,199506.1836,454029.3973
482345,서울특별시 서대문구 연세로12길 28 (창천동(지상1층)),한식,194500.2851,450742.0375
482346,서울특별시 강서구 강서로 395 플레이스에이치 1층 107호 (마곡동),중국식,185679.0000,450992.0000

In [142]:
type = df3['Type of Cuisine'].str.contains("외국음식전문점|중국식|일식|경양식|패밀리레스토랑|제과점|패스트푸드")

# Filter the data that meets the condition and store it in a new variable.
df3 = df3[type]
df3

,Address,Type of Cuisine,TMCoordinate(X),TMCoordinate(Y)
9,서울특별시 종로구 북촌로5길 56-8 101호 (소격동),경양식,198354.8041,453067.9971
10,서울특별시 영등포구 대림로 142 개풍빌딩 지하 1층 A05호 (대림동),일식,191172.4825,443535.6795
13,서울특별시 종로구 자하문로7길 36 지하1층 (통인동),경양식,197306.2268,452991.1322
23,서울특별시 종로구 종로51길 4 지하1층 (창신동),외국음식전문점(인도태국등),201026.0290,452239.2282
24,서울특별시 종로구 사직로8길 4 301동 B106호 (사직동 광화문 풍림스페이스본),일식,197181.3933,452458.8267
...,...,...,...,...
482336,서울특별시 강남구 도산대로49길 22 (신사동),경양식,203232.6317,446906.3385
482338,서울특별시 강남구 도산대로49길 22 (신사동),경양식,203232.6317,446906.3385
482339,서울특별시 노원구 노원로 244 보스턴 산부인과 1층 (하계동),중국식,206490.5943,459688.0609
482344,서울특별시 종로구 명륜길 31 (명륜3가),중국식,199506.1836,454029.3973
482346,서울특별시 강서구 강서로 395 플레이스에이치 1층 107호 (마곡동),중국식,185679.0000,450992.0000

In [143]:
#Change each district to english name with contains statement
df3.loc[df3['Address'].str.contains('종로구'),'Gu']='Jongno-gu'
df3.loc[df3['Address'].str.contains('중구'),'Gu']='Jung-gu'
df3.loc[df3['Address'].str.contains('용산구'),'Gu']='Yongsan-gu'
df3.loc[df3['Address'].str.contains('성동구'),'Gu']='Seongdong-gu'
df3.loc[df3['Address'].str.contains('광진구'),'Gu']='Gwangjin-gu'
df3.loc[df3['Address'].str.contains('동대문구'),'Gu']='Dongdaemun-gu'
df3.loc[df3['Address'].str.contains('중랑구'),'Gu']='Jungnang-gu'
df3.loc[df3['Address'].str.contains('성북구'),'Gu']='Seongbuk-gu'
df3.loc[df3['Address'].str.contains('강북구'),'Gu']='Gangbuk-gu'
df3.loc[df3['Address'].str.contains('도봉구'),'Gu']='Dobong-gu'
df3.loc[df3['Address'].str.contains('노원구'),'Gu']='Nowon-gu'
df3.loc[df3['Address'].str.contains('은평구'),'Gu']='Eunpyeong-gu'
df3.loc[df3['Address'].str.contains('서대문구'),'Gu']='Seodaemun-gu'
df3.loc[df3['Address'].str.contains('마포구'),'Gu']='Mapo-gu'
df3.loc[df3['Address'].str.contains('양천구'),'Gu']='Yangcheon-gu'
df3.loc[df3['Address'].str.contains('강서구'),'Gu']='Gangseo-gu'
df3.loc[df3['Address'].str.contains('구로구'),'Gu']='Guro-gu'
df3.loc[df3['Address'].str.contains('금천구'),'Gu']='Geumcheon-gu'
df3.loc[df3['Address'].str.contains('영등포구'),'Gu']='Yeongdeungpo-gu'
df3.loc[df3['Address'].str.contains('동작구'),'Gu']='Dongjak-gu'
df3.loc[df3['Address'].str.contains('관악구'),'Gu']='Gwanak-gu'
df3.loc[df3['Address'].str.contains('서초구'),'Gu']='Seocho-gu'
df3.loc[df3['Address'].str.contains('강남구'),'Gu']='Gangnam-gu'
df3.loc[df3['Address'].str.contains('송파구'),'Gu']='Songpa-gu'
df3.loc[df3['Address'].str.contains('강동구'),'Gu']='Gangdong-gu'
df3

C:\Users\oom67\AppData\Local\Temp\ipykernel_9184\3331560963.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.loc[df3['Address'].str.contains('종로구'),'Gu']='Jongno-gu'

,Address,Type of Cuisine,TMCoordinate(X),TMCoordinate(Y),Gu
9,서울특별시 종로구 북촌로5길 56-8 101호 (소격동),경양식,198354.8041,453067.9971,Jongno-gu
10,서울특별시 영등포구 대림로 142 개풍빌딩 지하 1층 A05호 (대림동),일식,191172.4825,443535.6795,Yeongdeungpo-gu
13,서울특별시 종로구 자하문로7길 36 지하1층 (통인동),경양식,197306.2268,452991.1322,Jongno-gu
23,서울특별시 종로구 종로51길 4 지하1층 (창신동),외국음식전문점(인도태국등),201026.0290,452239.2282,Jongno-gu
24,서울특별시 종로구 사직로8길 4 301동 B106호 (사직동 광화문 풍림스페이스본),일식,197181.3933,452458.8267,Jongno-gu
...,...,...,...,...,...
482336,서울특별시 강남구 도산대로49길 22 (신사동),경양식,203232.6317,446906.3385,Gangnam-gu
482338,서울특별시 강남구 도산대로49길 22 (신사동),경양식,203232.6317,446906.3385,Gangnam-gu
482339,서울특별시 노원구 노원로 244 보스턴 산부인과 1층 (하계동),중국식,206490.5943,459688.0609,Nowon-gu
482344,서울특별시 종로구 명륜길 31 (명륜3가),중국식,199506.1836,454029.3973,Jongno-gu
482346,서울특별시 강서구 강서로 395 플레이스에이치 1층 107호 (마곡동),중국식,185679.0000,450992.0000,Gangseo-gu

In [145]:
#korean restaurant dataset is not fully divided so arbitrarily divide them
df3.loc[df3['Type of Cuisine'].str.contains('외국음식전문점'),'Type of Cuisine']='Asian'
df3.loc[df3['Type of Cuisine'].str.contains('중국식'),'Type of Cuisine']='Chinese'
df3.loc[df3['Type of Cuisine'].str.contains('일식'),'Type of Cuisine']='Japanese'
df3.loc[df3['Type of Cuisine'].str.contains('경양식'),'Type of Cuisine']='Western'
df3.loc[df3['Type of Cuisine'].str.contains('패밀리레스토랑'),'Type of Cuisine']='Western'
df3.loc[df3['Type of Cuisine'].str.contains('패스트푸드'),'Type of Cuisine']='Western'
df3.loc[df3['Type of Cuisine'].str.contains('제과점'),'Type of Cuisine']='Western'

In [146]:
#drop unneeded column
df3=df3.drop('Address', axis=1)
df3.head()

   Type of Cuisine  TMCoordinate(X)  TMCoordinate(Y)               Gu
9          Western      198354.8041      453067.9971        Jongno-gu
10        Japanese      191172.4825      443535.6795  Yeongdeungpo-gu
13         Western      197306.2268      452991.1322        Jongno-gu
23           Asian      201026.0290      452239.2282        Jongno-gu
24        Japanese      197181.3933      452458.8267        Jongno-gu

In [147]:
#get rid of strange data 
df3 = df3.drop(index=df3.loc[df3['Gu'] == '제주'].index)
df3 = df3.drop(index=df3.loc[df3['Gu'] == '성남'].index)
df3 = df3.drop(index=df3.loc[df3['Gu'] == '고양'].index)
df3 = df3.drop(index=df3.loc[df3['Gu'] == '부천'].index)
df3 = df3.drop(index=df3.loc[df3['Gu'] == '하남'].index)
df3 = df3.drop(index=df3.loc[df3['Gu'] == '知'].index)
df3

       Type of Cuisine  TMCoordinate(X)  TMCoordinate(Y)               Gu
9              Western      198354.8041      453067.9971        Jongno-gu
10            Japanese      191172.4825      443535.6795  Yeongdeungpo-gu
13             Western      197306.2268      452991.1322        Jongno-gu
23               Asian      201026.0290      452239.2282        Jongno-gu
24            Japanese      197181.3933      452458.8267        Jongno-gu
...                ...              ...              ...              ...
482336         Western      203232.6317      446906.3385       Gangnam-gu
482338         Western      203232.6317      446906.3385       Gangnam-gu
482339         Chinese      206490.5943      459688.0609         Nowon-gu
482344         Chinese      199506.1836      454029.3973        Jongno-gu
482346         Chinese      185679.0000      450992.0000       Gangseo-gu

[41461 rows x 4 columns]

In [150]:
df3.reset_index(drop=True,inplace=True)
df3.head()

  Type of Cuisine  TMCoordinate(X)  TMCoordinate(Y)               Gu
0         Western      198354.8041      453067.9971        Jongno-gu
1        Japanese      191172.4825      443535.6795  Yeongdeungpo-gu
2         Western      197306.2268      452991.1322        Jongno-gu
3           Asian      201026.0290      452239.2282        Jongno-gu
4        Japanese      197181.3933      452458.8267        Jongno-gu

In [151]:
#we will use only 25 district so use mean of the coordinate
df4=df3.groupby('Gu').mean()
df4.head()

               TMCoordinate(X)  TMCoordinate(Y)
Gu
Dobong-gu        203346.183828    461826.916975
Dongdaemun-gu    204716.654109    453263.592776
Dongjak-gu       195670.845565    443932.468889
Eunpyeong-gu     192807.096261    456262.664103
Gangbuk-gu       202016.245964    458789.662165

In [152]:
#agiain put Gu column
df4.reset_index(drop=True,inplace=True)
df4.insert(0,'Gu',['Dobong-gu',"Dongdaemun-gu","Dongjak-gu","Eunpyeong-gu","Gangbuk-gu","Gangdong-gu","Gangnam-gu","Gangseo-gu","Geumcheon-gu","Guro-gu","Gwanak-gu","Gwangjin-gu","Jongno-gu","Jung-gu","Jungnang-gu","Mapo-gu","Nowon-gu","Seocho-gu","Seodaemun-gu","Seongbuk-gu","Seongdong-gu","Songpa-gu","Yangcheon-gu","Yeongdeungpo-gu","Yongsan-gu"],True)

df4.head()

              Gu  TMCoordinate(X)  TMCoordinate(Y)
0      Dobong-gu    203346.183828    461826.916975
1  Dongdaemun-gu    204716.654109    453263.592776
2     Dongjak-gu    195670.845565    443932.468889
3   Eunpyeong-gu    192807.096261    456262.664103
4     Gangbuk-gu    202016.245964    458789.662165

In [153]:
#just put num column to be changed
df3['num']=1
df3

      Type of Cuisine  TMCoordinate(X)  TMCoordinate(Y)               Gu  num
0             Western      198354.8041      453067.9971        Jongno-gu    1
1            Japanese      191172.4825      443535.6795  Yeongdeungpo-gu    1
2             Western      197306.2268      452991.1322        Jongno-gu    1
3               Asian      201026.0290      452239.2282        Jongno-gu    1
4            Japanese      197181.3933      452458.8267        Jongno-gu    1
...               ...              ...              ...              ...  ...
41456         Western      203232.6317      446906.3385       Gangnam-gu    1
41457         Western      203232.6317      446906.3385       Gangnam-gu    1
41458         Chinese      206490.5943      459688.0609         Nowon-gu    1
41459         Chinese      199506.1836      454029.3973        Jongno-gu    1
41460         Chinese      185679.0000      450992.0000       Gangseo-gu    1

[41461 rows x 5 columns]

In [154]:
#count the number of restaurant in each 'Gu'
df3_count = df3.pivot_table("num", index="Gu",columns="Type of Cuisine", aggfunc="count")
#pdf2 = df3.pivot_table("가격", index="업체", aggfunc="sum")
df3_count

Type of Cuisine  Asian  Chinese  Japanese  Western
Gu
Dobong-gu           17      139       214      221
Dongdaemun-gu       23      267       276      382
Dongjak-gu          34      199       245      364
Eunpyeong-gu        24      207       346      326
Gangbuk-gu           4      164       200      206
Gangdong-gu         51      240       321      362
Gangnam-gu         285      660      1730     5576
Gangseo-gu          55      353       566      917
Geumcheon-gu        32      339       144      192
Guro-gu             55      558       267      321
Gwanak-gu           80      309       426      790
Gwangjin-gu         65      377       493      540
Jongno-gu          167      243       421     1481
Jung-gu            182      366       570      899
Jungnang-gu         19      167       224      205
Mapo-gu            213      421       953     1239
Nowon-gu            39      231       305      320
Seocho-gu          127      379       605     1177
Seodaemun-gu        59      239       283      771
Seongbuk-gu         37      228       252      408
Seongdong-gu        69      180       312      568
Songpa-gu           78      345       641      662
Yangcheon-gu        37      219       259      238
Yeongdeungpo-gu     87      909       610      696
Yongsan-gu         329      191       398     1440

In [155]:
#make total column to calculate percentage
df3_count['Total'] = df3_count['Asian']+ df3_count['Chinese']+ df3_count['Japanese']+df3_count['Western']
df3_count

Type of Cuisine  Asian  Chinese  Japanese  Western  Total
Gu
Dobong-gu           17      139       214      221    591
Dongdaemun-gu       23      267       276      382    948
Dongjak-gu          34      199       245      364    842
Eunpyeong-gu        24      207       346      326    903
Gangbuk-gu           4      164       200      206    574
Gangdong-gu         51      240       321      362    974
Gangnam-gu         285      660      1730     5576   8251
Gangseo-gu          55      353       566      917   1891
Geumcheon-gu        32      339       144      192    707
Guro-gu             55      558       267      321   1201
Gwanak-gu           80      309       426      790   1605
Gwangjin-gu         65      377       493      540   1475
Jongno-gu          167      243       421     1481   2312
Jung-gu            182      366       570      899   2017
Jungnang-gu         19      167       224      205    615
Mapo-gu            213      421       953     1239   2826
Nowon-gu            39      231       305      320    895
Seocho-gu          127      379       605     1177   2288
Seodaemun-gu        59      239       283      771   1352
Seongbuk-gu         37      228       252      408    925
Seongdong-gu        69      180       312      568   1129
Songpa-gu           78      345       641      662   1726
Yangcheon-gu        37      219       259      238    753
Yeongdeungpo-gu     87      909       610      696   2302
Yongsan-gu         329      191       398     1440   2358

In [156]:
#calculate percentage 
df3_count['percentage of Chinese R']= df3_count['Chinese'] / df3_count['Total'] 
df3_count['percentage of Japanese R'] = df3_count['Japanese'] / df3_count['Total'] 
df3_count['percentage of Asian R']= df3_count['Asian'] / df3_count['Total'] 
df3_count['percentage of Western R']= df3_count['Western'] / df3_count['Total'] 

df3_count

Type of Cuisine,Asian,Chinese,Japanese,Western,Total,percentage of Chinese R,percentage of Japanese R,percentage of Asian R,percentage of Western R
Gu,,,,,,,,,
Dobong-gu,17,139,214,221,591,0.235195,0.362098,0.028765,0.373942
Dongdaemun-gu,23,267,276,382,948,0.281646,0.291139,0.024262,0.402954
Dongjak-gu,34,199,245,364,842,0.236342,0.290974,0.040380,0.432304
Eunpyeong-gu,24,207,346,326,903,0.229236,0.383167,0.026578,0.361019
Gangbuk-gu,4,164,200,206,574,0.285714,0.348432,0.006969,0.358885
Gangdong-gu,51,240,321,362,974,0.246407,0.329569,0.052361,0.371663
Gangnam-gu,285,660,1730,5576,8251,0.079990,0.209672,0.034541,0.675797
Gangseo-gu,55,353,566,917,1891,0.186674,0.299313,0.029085,0.484929
Geumcheon-gu,32,339,144,192,707,0.479491,0.203678,0.045262,0.271570
Guro-gu,55,558,267,321,1201,0.464613,0.222315,0.045795,0.267277
Gwanak-gu,80,309,426,790,1605,0.192523,0.265421,0.049844,0.492212
Gwangjin-gu,65,377,493,540,1475,0.255593,0.334237,0.044068,0.366102
Jongno-gu,167,243,421,1481,2312,0.105104,0.182093,0.072232,0.640571
Jung-gu,182,366,570,899,2017,0.181458,0.282598,0.090233,0.445711
Jungnang-gu,19,167,224,205,615,0.271545,0.364228,0.030894,0.333333
Mapo-gu,213,421,953,1239,2826,0.148974,0.337226,0.075372,0.438429
Nowon-gu,39,231,305,320,895,0.258101,0.340782,0.043575,0.357542
Seocho-gu,127,379,605,1177,2288,0.165647,0.264423,0.055507,0.514423
Seodaemun-gu,59,239,283,771,1352,0.176775,0.209320,0.043639,0.570266
Seongbuk-gu,37,228,252,408,925,0.246486,0.272432,0.040000,0.441081
Seongdong-gu,69,180,312,568,1129,0.159433,0.276351,0.061116,0.503100
Songpa-gu,78,345,641,662,1726,0.199884,0.371379,0.045191,0.383546
Yangcheon-gu,37,219,259,238,753,0.290837,0.343958,0.049137,0.316069
Yeongdeungpo-gu,87,909,610,696,2302,0.394874,0.264987,0.037793,0.302346
Yongsan-gu,329,191,398,1440,2358,0.081001,0.168787,0.139525,0.610687

In [157]:
#checking result
df3_fin= df3_count[['percentage of Chinese R','percentage of Japanese R','percentage of Asian R','percentage of Western R']]

df3_fin

Type of Cuisine,percentage of Chinese R,percentage of Japanese R,percentage of Asian R,percentage of Western R
Gu,,,,
Dobong-gu,0.235195,0.362098,0.028765,0.373942
Dongdaemun-gu,0.281646,0.291139,0.024262,0.402954
Dongjak-gu,0.236342,0.290974,0.040380,0.432304
Eunpyeong-gu,0.229236,0.383167,0.026578,0.361019
Gangbuk-gu,0.285714,0.348432,0.006969,0.358885
Gangdong-gu,0.246407,0.329569,0.052361,0.371663
Gangnam-gu,0.079990,0.209672,0.034541,0.675797
Gangseo-gu,0.186674,0.299313,0.029085,0.484929
Geumcheon-gu,0.479491,0.203678,0.045262,0.271570
Guro-gu,0.464613,0.222315,0.045795,0.267277
Gwanak-gu,0.192523,0.265421,0.049844,0.492212
Gwangjin-gu,0.255593,0.334237,0.044068,0.366102
Jongno-gu,0.105104,0.182093,0.072232,0.640571
Jung-gu,0.181458,0.282598,0.090233,0.445711
Jungnang-gu,0.271545,0.364228,0.030894,0.333333
Mapo-gu,0.148974,0.337226,0.075372,0.438429
Nowon-gu,0.258101,0.340782,0.043575,0.357542
Seocho-gu,0.165647,0.264423,0.055507,0.514423
Seodaemun-gu,0.176775,0.209320,0.043639,0.570266
Seongbuk-gu,0.246486,0.272432,0.040000,0.441081
Seongdong-gu,0.159433,0.276351,0.061116,0.503100
Songpa-gu,0.199884,0.371379,0.045191,0.383546
Yangcheon-gu,0.290837,0.343958,0.049137,0.316069
Yeongdeungpo-gu,0.394874,0.264987,0.037793,0.302346
Yongsan-gu,0.081001,0.168787,0.139525,0.610687

In [158]:
#make index to match dataset of income and population
df3_fin.reset_index(drop=True,inplace=True)
df3_fin.insert(0,'Gu',['Dobong-gu',"Dongdaemun-gu","Dongjak-gu","Eunpyeong-gu","Gangbuk-gu","Gangdong-gu","Gangnam-gu","Gangseo-gu","Geumcheon-gu","Guro-gu","Gwanak-gu","Gwangjin-gu","Jongno-gu","Jung-gu","Jungnang-gu","Mapo-gu","Nowon-gu","Seocho-gu","Seodaemun-gu","Seongbuk-gu","Seongdong-gu","Songpa-gu","Yangcheon-gu","Yeongdeungpo-gu","Yongsan-gu"],True)

df3_fin.head()

Type of Cuisine,Gu,percentage of Chinese R,percentage of Japanese R,percentage of Asian R,percentage of Western R
0,Dobong-gu,0.235195,0.362098,0.028765,0.373942
1,Dongdaemun-gu,0.281646,0.291139,0.024262,0.402954
2,Dongjak-gu,0.236342,0.290974,0.040380,0.432304
3,Eunpyeong-gu,0.229236,0.383167,0.026578,0.361019
4,Gangbuk-gu,0.285714,0.348432,0.006969,0.358885

In [161]:
#merge all restaurant datasets
mergeR=pd.merge(df4,df3_fin,on='Gu',how='inner')

mergeR

,Gu,TMCoordinate(X),TMCoordinate(Y),percentage of Chinese R,percentage of Japanese R,percentage of Asian R,percentage of Western R
0,Dobong-gu,203346.183828,461826.916975,0.235195,0.362098,0.028765,0.373942
1,Dongdaemun-gu,204716.654109,453263.592776,0.281646,0.291139,0.024262,0.402954
2,Dongjak-gu,195670.845565,443932.468889,0.236342,0.290974,0.040380,0.432304
3,Eunpyeong-gu,192807.096261,456262.664103,0.229236,0.383167,0.026578,0.361019
4,Gangbuk-gu,202016.245964,458789.662165,0.285714,0.348432,0.006969,0.358885
5,Gangdong-gu,212146.064845,448833.437964,0.246407,0.329569,0.052361,0.371663
6,Gangnam-gu,203543.578802,445389.564025,0.079990,0.209672,0.034541,0.675797
7,Gangseo-gu,185708.296293,450214.632871,0.186674,0.299313,0.029085,0.484929
8,Geumcheon-gu,190575.558799,440857.219211,0.479491,0.203678,0.045262,0.271570
9,Guro-gu,189325.108584,443482.431581,0.464613,0.222315,0.045795,0.267277
10,Gwanak-gu,194624.060025,441999.884598,0.192523,0.265421,0.049844,0.492212
11,Gwangjin-gu,206882.348099,449119.563757,0.255593,0.334237,0.044068,0.366102
12,Jongno-gu,198737.599776,452764.026088,0.105104,0.182093,0.072232,0.640571
13,Jung-gu,199141.891642,451215.742075,0.181458,0.282598,0.090233,0.445711
14,Jungnang-gu,207634.337491,454853.016758,0.271545,0.364228,0.030894,0.333333
15,Mapo-gu,193036.272963,450368.869007,0.148974,0.337226,0.075372,0.438429
16,Nowon-gu,205935.210917,460352.517589,0.258101,0.340782,0.043575,0.357542
17,Seocho-gu,201171.828178,443307.392810,0.165647,0.264423,0.055507,0.514423
18,Seodaemun-gu,194429.245940,451680.980049,0.176775,0.209320,0.043639,0.570266
19,Seongbuk-gu,202147.542056,455065.232042,0.246486,0.272432,0.040000,0.441081
20,Seongdong-gu,203595.175475,449955.616195,0.159433,0.276351,0.061116,0.503100
21,Songpa-gu,209849.163249,444507.092332,0.199884,0.371379,0.045191,0.383546
22,Yangcheon-gu,187717.057025,447322.836462,0.290837,0.343958,0.049137,0.316069
23,Yeongdeungpo-gu,191879.518175,445817.140777,0.394874,0.264987,0.037793,0.302346
24,Yongsan-gu,198602.621692,448205.924999,0.081001,0.168787,0.139525,0.610687

In [164]:
#finally merge all korean datasets
Korea_Df=pd.merge(mergeDF,mergeR,on='Gu',how='inner')

Korea_Df

,Gu,Income,Percentage of Chinese,Percentage of Japanese,Percentage of Asian,Percentage of Westerner,TMCoordinate(X),TMCoordinate(Y),percentage of Chinese R,percentage of Japanese R,percentage of Asian R,percentage of Western R
0,Jongno-gu,8.092664,0.289589,0.034922,0.374808,0.121019,198737.599776,452764.026088,0.105104,0.182093,0.072232,0.640571
1,Jung-gu,7.359223,0.239772,0.030685,0.359496,0.164621,199141.891642,451215.742075,0.181458,0.282598,0.090233,0.445711
2,Yongsan-gu,8.214203,0.037538,0.077868,0.258094,0.309029,198602.621692,448205.924999,0.081001,0.168787,0.139525,0.610687
3,Seongdong-gu,8.231841,0.321910,0.036366,0.305298,0.079467,203595.175475,449955.616195,0.159433,0.276351,0.061116,0.503100
4,Gwangjin-gu,7.091238,0.277413,0.029926,0.308606,0.041248,206882.348099,449119.563757,0.255593,0.334237,0.044068,0.366102
5,Dongdaemun-gu,7.376686,0.390456,0.037245,0.343215,0.056689,204716.654109,453263.592776,0.281646,0.291139,0.024262,0.402954
6,Jungnang-gu,6.981943,0.131422,0.030430,0.511136,0.038148,207634.337491,454853.016758,0.271545,0.364228,0.030894,0.333333
7,Seongbuk-gu,7.101276,0.324839,0.036405,0.398689,0.088517,202147.542056,455065.232042,0.246486,0.272432,0.040000,0.441081
8,Gangbuk-gu,7.071233,0.178350,0.035197,0.453120,0.057379,202016.245964,458789.662165,0.285714,0.348432,0.006969,0.358885
9,Dobong-gu,6.829268,0.151470,0.052815,0.473842,0.090683,203346.183828,461826.916975,0.235195,0.362098,0.028765,0.373942
10,Nowon-gu,7.007524,0.189724,0.050376,0.502757,0.100501,205935.210917,460352.517589,0.258101,0.340782,0.043575,0.357542
11,Eunpyeong-gu,6.911238,0.181842,0.093120,0.369633,0.091568,192807.096261,456262.664103,0.229236,0.383167,0.026578,0.361019
12,Seodaemun-gu,7.296404,0.284317,0.046218,0.403598,0.150369,194429.245940,451680.980049,0.176775,0.209320,0.043639,0.570266
13,Mapo-gu,7.635865,0.245169,0.097741,0.263981,0.234945,193036.272963,450368.869007,0.148974,0.337226,0.075372,0.438429
14,Yangcheon-gu,7.808050,0.171743,0.041130,0.251805,0.087598,187717.057025,447322.836462,0.290837,0.343958,0.049137,0.316069
15,Gangseo-gu,7.054054,0.171649,0.064552,0.268293,0.090592,185708.296293,450214.632871,0.186674,0.299313,0.029085,0.484929
16,Guro-gu,7.261722,0.212217,0.008440,0.052604,0.010529,189325.108584,443482.431581,0.464613,0.222315,0.045795,0.267277
17,Geumcheon-gu,6.289532,0.172940,0.007670,0.071236,0.010511,190575.558799,440857.219211,0.479491,0.203678,0.045262,0.271570
18,Yeongdeungpo-gu,7.784946,0.183042,0.008641,0.057954,0.021520,191879.518175,445817.140777,0.394874,0.264987,0.037793,0.302346
19,Dongjak-gu,7.495265,0.304358,0.030627,0.178921,0.055399,195670.845565,443932.468889,0.236342,0.290974,0.040380,0.432304
20,Gwanak-gu,6.372960,0.179491,0.025164,0.202909,0.070182,194624.060025,441999.884598,0.192523,0.265421,0.049844,0.492212
21,Seocho-gu,8.688123,0.121914,0.077418,0.176440,0.397634,201171.828178,443307.392810,0.165647,0.264423,0.055507,0.514423
22,Gangnam-gu,9.710548,0.162253,0.098991,0.221732,0.315259,203543.578802,445389.564025,0.079990,0.209672,0.034541,0.675797
23,Songpa-gu,8.212038,0.164741,0.055625,0.179492,0.158344,209849.163249,444507.092332,0.199884,0.371379,0.045191,0.383546
24,Gangdong-gu,7.254443,0.159926,0.050420,0.270746,0.089286,212146.064845,448833.437964,0.246407,0.329569,0.052361,0.371663